nav {
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
    height: 5rem;
    padding: 10px;
    background-color: rgb(48, 29, 129);
}

nav .scroll{
    position: sticky;
    box-shadow: 0 10px 10px;
}

.title{
    width: 50%;
    font-size: 2rem;
    font-weight: bold;
}

.player{
    font-size: 1.5rem;
}