.main{
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(80, 7, 99);
    width: 100%;
}

.content{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.25rem;
}

.main :hover{
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(125, 12, 153);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.6), -5px -5px 5px rgba(255, 255, 255, 0.6), 5px -5px 5px rgba(255, 255, 255, 0.6), -5px 5px 5px rgba(255, 255, 255, 0.6);
}