.item{
    position: relative;
    top: 50%;
}

.diff{
    display: flex;
}

.content{
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    color: white;
}