.card{
    position: relative;
    top: 50%;
}

.control{
    margin-bottom: 0.5rem;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.control label{
    
    font-weight: bold;
    font-size: 2rem;
    display: block;
    margin-bottom: 0.5rem;
}

.control input{
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
}

.actions{
    text-align: right;
    margin:  0.5rem;
}

.actions button{
    font-size: 1.25rem;
}